* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ham {
    height: auto;
    background-color: rgb(74, 161, 204);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: grid;
    grid-template-columns: 1fr 8fr;
    position: sticky;
    top: 0;
    width: 100%;
}

body {
    height: 100%;
    background-color: #EBE8E3;
    color: black;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
    background-color: black;
    width: 100%;
    height: 125px;
    margin-bottom: 5%;
}

#cardSection {
    display: flex;
    flex-direction: column;
}

.cardBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    align-items: stretch;
}

.card {
    width: 25%;
    color: black;
    border: solid 3px black;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    transition-duration: .3s;
}

.card:hover {
    border-radius: 0;
    box-shadow: 10px 10px black;
    width:27%;
}

button{
    transition-duration: .3s;
}

button:hover{
    box-shadow: 5px 5px;
    border-radius: 0;
}


.preview {
    display: flex;
    justify-content: center;
    margin: 8% 10%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10% 5% 10%;
    text-align: center;
}

.title h5 {
    font-family: monospace;
    margin-bottom: 5%;
    font-weight: bold;
}

.title a {
    margin-top: 5%;

}

.logo {
    width: 100px;
}


footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: black;
    flex-wrap: wrap;
    color: white;
}

#currentNav {
    font-weight: bold;
    text-decoration: underline;
}

#sec1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}

#sec1 a {
    cursor: pointer;
    color: white;
}

#sec2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5% 10px 5%;
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #ham {
        display: none;
        height: auto;
        background-color: rgb(74, 161, 204);
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    header {
        display: grid;
        grid-template-columns: 1fr;
        position: sticky;
        top: 0;
        width: 100%;
    }

    

    #banner {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: xx-large;
        background-color: black;
        width: 100%;
        height: 125px;
        margin-bottom: 5%;
    }

    #cardSection {
        display: flex;
        flex-direction: column;
    }

    .cardBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 0;
        align-items: center;
    }

    .card {
        width: 75%;
        color: black;
        border: solid 3px black;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition-duration: .3s;
        margin-bottom: 5%;
        border-radius: 0;
        box-shadow: 10px 10px black;
    }

    .card:hover {
        border-radius: 0;
        box-shadow: 10px 10px black;
    }

    .preview {
        display: flex;
        justify-content: center;
        margin: 8% 10%;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10% 5% 10%;
        text-align: center;
    }

    .title h5 {
        font-family: monospace;
        margin-bottom: 5%;
        font-weight: bold;
    }

    .title a {
        margin-top: 5%;

    }

    .logo {
        width: 100px;
    }

    footer {
        display: flex;
        width: 100%;
        height: auto;
        background-color: black;
        flex-wrap: wrap;
    }



    #sec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2% 5%;
    }

    #sec1 a {
        padding-bottom: 3px;
        cursor: pointer;
        color: white;
    }


    #sec2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5% 10px 5%;
    }

}
