* {
    max-width: 100%;
    box-sizing: border-box;
}


main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.clock {
    width: 100%;
    position: fixed;
}


.article {
    justify-content: center;
    width: 650px;
    font-weight: lighter;
    font-size: 15px;
}

.title {
    text-align: center;
    background-color: red;
    margin: 150px 40px 40px;
    font-weight: bolder;
    border-radius: 20px;
}


.imagetwo {
    margin-bottom: 30px;
}

.titletwo {
    text-align: center;
    background-color: red;
    margin: 40px;
    font-weight: bolder;
    border-radius: 20px;
}


.footer-basic {
    display: flex;
    padding: 10px 0;
    background-color: orange;
    height: 80px;
    font-size: 14px;
}

.footer-basic ul {
    display: flex;
    padding: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.footer-basic li {
    padding: 0 10px;
}

.list-inline-item {
    font-size: 14px;
 
}

.list-inline {
    flex-direction: row;
    margin: 10px;
    font-weight: normal;
}

a {
    color: black;
    font-size: 14px;
    font-weight: normal;
}

footer {
    margin: 10px;
    width: 50%;
}